<head>
    <title>Bloodstock Page</title>
</head>

<body>
    <ul>
        <li><a href="/donors">Donors</a></li>
        <li><a href="/donations">Donations</a></li>
        <li><a href="/bloodstock">Bloodstock</a></li>
        <li><a href="/recipients">Recipients</a></li>
        <li><a href="/transfers">Transfers</a></li>
    </ul>
    <h1>Bloodstock</h1>
    <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Quantity</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in blood %}
            <tr>
                <td>{{ stock.bloodType }}</td>
                <td>{{ stock.quantity }}</td>
                <td><a href="/update_bloodstock/{{ stock.bloodType }}">Update</a></td>
			</tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Create Bloodstock</h1>
    <form action="/create_bloodstock" method="POST">
        <label for="type">Type:</label>
        <input type="text" id="type" name="type" required><br>

        <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" name="quantity" required><br>

        <button type="submit">Create Bloodstock</button>
    </form>
</body>
