<html>
<head>
    <title>Open the Blood Gates</title>
</head>
<body>
    <h1>Open the Blood Gates: A Blood Bank</h1>
<table>
    <thead>
    <tr>
    <ul>
        <li><a href="/donors">Donors</a></li>
        <li><a href="/donations">Donations</a></li>
        <li><a href="/bloodstock">Bloodstock</a></li>
        <li><a href="/recipients">Recipients</a></li>
        <li><a href="/transfers">Transfers</a></li>
    </ul>
    </tr>
    </table>
</body>
</html>
