<head>
    <title>Recipients Page</title>
</head>

<body>
    <ul>
        <li><a href="/donors">Donors</a></li>
        <li><a href="/donations">Donations</a></li>
        <li><a href="/bloodstock">Bloodstock</a></li>
        <li><a href="/recipients">Recipients</a></li>
        <li><a href="/transfers">Transfers</a></li>
    </ul>
    <h1>Recipients</h1>
	<table>
        <thead>
            <tr>
                <th>Recipient ID</th>
                <th>Name</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
				<th>Zip</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
			{% for recipient in recipients %}
            <tr>
                <td>{{recipient['recipientID']}}</td>
				<td>{{recipient['name']}}</td>
				<td>{{recipient['street']}}</td>
				<td>{{recipient['city']}}</td>
				<td>{{recipient['state_ab']}}</td>
				<td>{{recipient['zip']}}</td>
				<td><a href="/update_recipient/{{recipient['recipientID']}}">Update</a></td>
				<td><a href="/delete_recipient/{{recipient['recipientID']}}">Delete</a></td>
            </tr>
			{% endfor %}
        </tbody>
    </table>
		<form action="/add_recipient" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="street">Street:</label>
        <input type="text" id="street" name="street" required><br>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" required><br>

        <label for="state">State:</label>
        <input type="text" id="state" name="state" required><br>

        <label for="zip">Zip:</label>
        <input type="text" id="zip" name="zip" required><br>

        <button type="submit">Add Recipient</button>
    </form>
</body>
