<head>
    <title>Transfers</title>
</head>

<body>
    <ul>
        <li><a href="/donors">Donors</a></li>
        <li><a href="/donations">Donations</a></li>
        <li><a href="/bloodstock">Bloodstock</a></li>
        <li><a href="/recipients">Recipients</a></li>
        <li><a href="/transfers">Transfers</a></li>
    </ul>
    <h1>Transfers</h1>
	<table>
        <thead>
            <tr>
                <th>Transfer ID</th>
                <th>Date</th>
                <th>Quantity</th>
                <th>Recipient ID</th>
                <th>Blood Type</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
			{% for transfer in transfers %}
            <tr>
                <td>{{transfer['transferID']}}</td>
                <td>{{transfer['date']}}</td>
                <td>{{transfer['quantity']}}</td>
                <td>{{transfer['recipientID']}}</td>
                <td>{{transfer['bloodType']}}</td>
                <td>
                    <a href="update_transfer/{{transfer['transferID']}}">Update</a>
                </td>
                <td>
                    <a href="/delete_transfer/{{transfer['transferID']}}">Delete</a>
                </td>
            </tr>
			{% endfor %}
        </tbody>
    </table>
	<h1>Add Transfer</h1>
    <form action="/add_transfer" method="POST">
        <label for="date">Date:</label>
        <input type="text" id="date" name="date" required><br>

        <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" name="quantity" required><br>

        <label for="recipientID">Recipient ID:</label>
        <input type="text" id="recipientID" name="recipientID" required><br>

        <label for="type">Type:</label>
        <input type="text" id="type" name="type" required><br>

        <button type="submit">Add Transfer</button>
    </form>
    
</body>
