<!DOCTYPE html>
<html>

<head>
    <title>Update Bloodstock</title>
</head>

<body>
    <ul>
        <li><a href="donors">Donors</a></li>
        <li><a href="donation">Donations</a></li>
        <li><a href="bloodstock">Bloodstock</a></li>
        <li><a href="recipients.html">Recipients</a></li>
        <li><a href="transfers.html">Transfers</a></li>
    </ul>
    <h1>Update Bloodstock</h1>
    <form action="/update_bloodstock" method="POST">
        <input type="hidden" id="type" name="type" value="A+">
        <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" name="quantity" required value="100.000"><br>
        <button type="submit">Update Bloodstock</button>
    </form>
</body>

</html>