<head>
    <title>Update Transfer</title>
</head>

<body>
    <ul>
        <li><a href="/donors">Donors</a></li>
        <li><a href="/donations">Donations</a></li>
        <li><a href="/bloodstock">Bloodstock</a></li>
        <li><a href="/recipients">Recipients</a></li>
        <li><a href="/transfers">Transfers</a></li>
    </ul>
    <h1>Update Transfer</h1>
    <form action="/update_transfer/{{transfer[0]['transferID']}}" method="POST">
        <input type="hidden" id="transferID" name="transferID" value="{{transfer[0]['transferID']}}">
        <label for="date">Date:</label>
        <input type="text" id="date" name="date" required value="{{transfer[0]['date']}}"><br>

        <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" name="quantity" required value="{{transfer[0]['quantity']}}"><br>

        <label for="recipientID">Recipient ID:</label>
        <select id="recipientID" name="recipientID" required>
            {% for recipient in recipients %}
                <option value="{{ recipient['recipientID'] }}" {% if recipient['recipientID'] == transfer[0]['recipientID'] %} selected {% endif %}>{{ recipient['recipientID'] }}</option>
            {% endfor %}
        </select><br>

        <label for="type">Type:</label>
        <input type="text" id="type" name="type" required value="{{transfer[0]['bloodType']}}"><br>

        <button type="submit">Update Transfer</button>
    </form>
</body>
