<!DOCTYPE html>
<html>

<head>
    <title>Update Donor</title>
</head>

<body>
    <ul>
        <li><a href="http://flip2.engr.oregonstate.edu:21037/donors">Donors</a></li>
        <li><a href="donation">Donations</a></li>
        <li><a href="bloodstock">Bloodstock</a></li>
        <li><a href="recipients.html">Recipients</a></li>
        <li><a href="transfers.html">Transfers</a></li>
    </ul>
    <h1>Update Donor {{donor[0]['name']}}</h1>
    <form action="/update_donor/{{donor[0]['donorID']}}" method="POST">
	
        <input type="hidden" id="donorID" name="donorID" value="{{donor[0]['donorID']}}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required value="{{donor[0]['name']}}"><br>

        <label for="street">Street:</label>
        <input type="text" id="street" name="street" required value="{{donor[0]['street']}}"><br>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" required value="{{donor[0]['city']}}"><br>

        <label for="state">State:</label>
        <input type="text" id="state" name="state" required value="{{donor[0]['state_ab']}}"><br>

        <label for="zip">Zip:</label>
        <input type="text" id="zip" name="zip" required value="{{donor[0]['zip']}}"><br>

        <label for="type">Blood Type:</label>
        <input type="text" id="type" name="type" required value="{{donor[0]['bloodType']}}"><br>

        <button type="submit">Update Donor</button>
    </form>
</body>

</html>
