<!DOCTYPE html>
<html>

<head>
    <title>Update Transfer</title>
</head>

<body>
    <ul>
        <li><a href="donors">Donors</a></li>
        <li><a href="donation">Donations</a></li>
        <li><a href="bloodstock">Bloodstock</a></li>
        <li><a href="recipients.html">Recipients</a></li>
        <li><a href="transfers.html">Transfers</a></li>
    </ul>
    <h1>Update Transfer</h1>
    <form action="/update_transfer" method="POST">
        <input type="hidden" id="transferID" name="transferID" value="1">
        <label for="date">Date:</label>
        <input type="datetime-local" id="date" name="date" required value="2023-01-01T12:00"><br>

        <label for="quantity">Quantity:</label>
        <input type="text" id="quantity" name="quantity" required value="5.000"><br>

        <label for="recipientID">Recipient ID:</label>
        <input type="number" id="recipientID" name="recipientID" required value="1"><br>

        <label for="typeID">Type ID:</label>
        <input type="number" id="typeID" name="typeID" required value="1"><br>

        <button type="submit">Update Transfer</button>
    </form>
</body>

</html>